<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Создание работы</title>
</head>
<body>
    <h1>Создание новой работы</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.team_leader.label }}<br>
            {{ form.team_leader() }}
        </p>
        <p>
            {{ form.job.label }}<br>
            {{ form.job(size=50) }}
        </p>
        <p>
            {{ form.work_size.label }}<br>
            {{ form.work_size() }}
        </p>
        <p>
            {{ form.collaborators.label }}<br>
            {{ form.collaborators(size=50) }}
        </p>
        <p>
            {{ form.is_finished.label }}<br>
            {{ form.is_finished() }}
        </p>
        <p>{{ form.submit() }}</p>
        <p><a href="/">Вернуться на главную</a></p>
    </form>
</body>
</html>