<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>

<h1 align="center">{{ title }}</h1>
<hr>

{% if message %}
<p style="color: red;"><b>{{ message }}</b></p>
{% endif %}

<fieldset style="padding: 10px; border: 2px solid black;">
    <legend><b>Регистрация пользователя</b></legend>

    <form method="post">
        {{ form.hidden_tag() }}

        <table cellspacing="6">
            <tr>
                <td><b>{{ form.name.label }}</b></td>
                <td>{{ form.name(size=40) }}</td>
            </tr>

            <tr>
                <td><b>{{ form.email.label }}</b></td>
                <td>{{ form.email(size=40) }}</td>
            </tr>

            <tr>
                <td><b>{{ form.about.label }}</b></td>
                <td>{{ form.about(size=60) }}</td>
            </tr>

            <tr>
                <td><b>{{ form.password.label }}</b></td>
                <td>{{ form.password(size=40) }}</td>
            </tr>

            <tr>
                <td><b>{{ form.password_again.label }}</b></td>
                <td>{{ form.password_again(size=40) }}</td>
            </tr>
        </table>

        <br>
        {{ form.submit() }}
    </form>
</fieldset>

<hr>
<p align="center"><i>Страница создана студентом</i></p>

</body>
</html>
